<h1>New Ingredients</h1>
<%=form_for @ingredient do |t|%>        
    <%=t.label :name%>
    <%=t.text_field :name%>
    <%=t.submit%>
<%end%>
<% if flash[:alert] %>
    <% flash[:alert].each do |t| %>
        <p><%=t%></p>
    <%end%>
<%end%>